@charset "utf-8";
*{
	margin:0;
	padding:0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
    height: 100%;
    font-size:62.5%;
}
body {
    color: #323232;
    font-family:Arial,"Microsoft YaHei";
    min-height: 100%;
    word-wrap: break-word;
}
section, footer, nav, em, mark, p, span, ul, li, ol, h1, h2, h3, h4,from, input, textarea ,button{
    font-style: normal;
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    font-family:Arial,"Microsoft YaHei";
    font-size: 0.65rem;
}
p{
	line-height:1.0rem;
	}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
	}
.c_f{*zoom:1;}
.c_f:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.f_l{
	float:left;
	}
.f_r{
	float:right;
	}
/*取消按钮点击的时候有阴影*/
.tap_hide{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-ms-tap-highlight-color:rgba(255,255,255,0);
	-moz-tap-highlight-color:rgba(255,255,255,0);
	-o-tap-highlight-color:rgba(255,255,255,0);
}
a,img,button,input,textarea{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-ms-tap-highlight-color:rgba(255,255,255,0);
	-moz-tap-highlight-color:rgba(255,255,255,0);
	-o-tap-highlight-color:rgba(255,255,255,0);
}
button, input, textarea, select {
    border: medium none;
    outline: medium none;/*取消chrome下input和textarea的聚焦边框*/
	-webkit-appearance:none;
	-ms-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
}
textarea{
	resize:none;
	}/*取消chrome下textarea可拖动放大*/
mark {
    background-color: transparent;
}
img {
    border: medium none;
    vertical-align: bottom;
}
a {
    color: #323232;
    outline-style: none;
    text-decoration: none;
}
.t_l {
    text-align: left;
}
.t_c {
    text-align: center;
}
.t_r {
    text-align: right;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fix {
    position: fixed;
}
.no_padd {
    padding: 0;
}
.no_margin {
    margin: 0;
}
.margin_auto {
    margin: 0 auto;
}
.m_b_cut{
	margin-bottom: 0.4rem;
}
.m_t_cut{
	margin-top:0.4rem;
}
.m_t_1{
	margin-top:1rem;
}
.m_b_2{
	margin-bottom: 2rem;
}
.p_b_2{
	padding-bottom: 2rem;
}
.w_p_100{ 
    width:100%;
}
.w_p_80{
	width:80%;
}
.imgbox img{
	width:100%;
}
.t_hide {
    text-indent: -9999px;
}
.bold {
    font-weight: bold;
}
.normal{
	font-weight:normal;
}
.dis {
    display: block;
}
.hide {
    display: none;
}
.dis_inline_block{
    display: inline-block;
}
.over_hidden {
    overflow: hidden;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.white_txt{
	color:#fff;
}
.orange_txt {
    color:#fbb96f;
}
.gray_txt{
	color:#D1D3D4;
}
.opac0 {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}
.orange_bg {
    background-color: #fbb96f;
}
.blue_bg {
    background-color: #0298ff;
}
.red_bg{
	background-color:#D5117C;
}
.red_txt{
	color:#D5117C;
}
.black_bg{
	background-color:#000;
	}
.white_bg{
	background-color:#fff;
}
.grey_bg{
	background-color:#D1D3D4;
}
.grey_txt{
	color:#939598;
}
.bor_gray{
	border:1px solid #ccc;
	}
.hr_gray{ 
    border:none; 
	border-top:1px solid #D1D3D4;
	}
.hr_gray_dash{ 
    border:none; 
	border-top:1px dashed #E2E2E2;
	}
.bor_b_none{
	border-bottom: 0!important;
}
.font_big{
	font-size: 0.7rem;
}
.font_s{
	font-size: 0.6rem;
}
.box_shadow{
	box-shadow: 1px 0px 4px #676767;
}
.z_index_10{
	z-index: 10;
}
.z_index_200{
	z-index: 200;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
