<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>关于我们-FreeUE轻松创建更加美观、规范的Web页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
  <div class="inner">
    <div class="h-logo"> <a href="index.html" title="FreeUE">FreeUE</a> </div>
    <div class="h-account"><img src="images/head-default.jpg" alt="id"/> Hi，红雪！<a href="#">注销</a></div>
    <ul class="h-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="template.html">模板库</a></li>
      <li><a href="widget.html">元素库</a></li>
      <li><a href="begin.html">起步</a></li>
      <li><a href="about.html" class="active">关于</a></li>
    </ul>
  </div>
</div>
<div class="banner-about" ><img src="images/banner-about.png" width="990" height="250"  alt=""/> </div>
<div class="clear"></div>
<div class="gray-box">
  <div class="inner">
    <dl class="main05 pt10">
      <dt>关于我们</dt>
      <dd>
        <div class="w220 fl">
          <div class="about-nav">
            <ul>
              <li><a href="#" class="active">关于QAUP<i></i></a></li>
              <li><a href="#">关于FreeUE<i></i></a></li>
              <li><a href="#">FAQ<i></i></a></li>
              <li><a href="#">联系我们<i></i></a></li>
            </ul>
          </div>
        </div>
        <div class="w720 fr">
          <div class="about-item">
            <div class="i-title">QAUP——致力于改善质量部产品的用户体验</div>
            <div class="i-cont">
            	<p>我们，来自QAUP小组，多半实习生童鞋们组成的UE团队，为质量部的xx个平台提供UE服务支持。
我们，有梦想敢创新不畏挑战，致力于将用户体验与视觉设计的完美结合。
一个LOGO亦或一个按钮，每一个细节，我们一直在努力，致力于打造属于我们自己的品牌和形象。</p>
<p style="text-align:center;"><img src="images/about-contact.jpg" alt=""/></p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
       </dd>
    </dl>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li class="f-logo"><a href="#"><i></i></a></li>
      <li>
        <p><b>关于</b></p>
        <p><a href="#">关于我们</a></p>
        <p><a href="#">关于平台</a></p>
      </li>
      <li>
        <p><b>帮助</b></p>
        <p><a href="#">如何开始</a></p>
        <p><a href="#">视觉规范</a></p>
        <p><a href="#">FAQ</a></p>
        </p>
      </li>
      <li>
        <p><b>互动</b></p>
        <p><a href="#">意见反馈</a></p>
        <p><a href="#">我要投稿</a></p>
      </li>
      <li>
        <p><b>联系</b></p>
        <p>hi群：72353455 </p>
        <p>邮箱：freeue@baidu.com</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2013 QEC & QAUP 版权所有</div>
</div>
</body>
</html>
