<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>元素库-FreeUE轻松创建更加美观、规范的Web页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
  <div class="inner">
    <div class="h-logo"> <a href="index.html" title="FreeUE">FreeUE</a> </div>
    <div class="h-account"><img src="images/head-default.jpg" alt="id"/> Hi，红雪！<a href="#">注销</a></div>
    <ul class="h-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="template.html">模板库</a></li>
      <li><a href="widget.html" class="active">元素库</a></li>
      <li><a href="begin.html">起步</a></li>
      <li><a href="about.html">关于</a></li>
    </ul>
  </div>
</div>
<div class="banner-widget" ><img src="images/banner-widget.png" width="990" height="250"  alt=""/> </div>
<div class="clear"></div>
<div class="gray-box">
  <div class="inner">
    <dl class="main01 pt10">
      <dt>选择一个主题 <span class="en">THEME</span>
      </dt>
      <dd>
        <ul class="theme-3column">
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="widget_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-title"><a href="widget_detail.html">CMS首页</a></div>
              <div class="i-text">适当的留白，放大的文字与输入框，让用户的操作更加方便。以灰色为主色调，减少视觉疲劳。适合表单较为复杂的页面。</div>
              <div class="i-info"><a class="like"><i class="icon16 icon16-like"></i> 15</a> <a class="like"><i class="icon16 icon16-download"></i> 15</a></div>
              
            </div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="widget_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-title"><a href="widget_detail.html">CMS首页</a></div>
              <div class="i-text">适当的留白，放大的文字与输入框，让用户的操作更加方便。以灰色为主色调，减少视觉疲劳。适合表单较为复杂的页面。</div>
              <div class="i-info"><a class="like"><i class="icon16 icon16-like"></i> 15</a> <a class="like"><i class="icon16 icon16-download"></i> 15</a></div>
              
            </div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="widget_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-title"><a href="widget_detail.html">CMS首页</a></div>
              <div class="i-text">适当的留白，放大的文字与输入框，让用户的操作更加方便。以灰色为主色调，减少视觉疲劳。适合表单较为复杂的页面。</div>
              <div class="i-info"><a class="like"><i class="icon16 icon16-like"></i> 15</a> <a class="like"><i class="icon16 icon16-download"></i> 15</a></div>
              
            </div>
          </li>
          <div class="clear"></div>
        </ul>
        <div class="comming pt30">
          更多主题更新中...
        </div>
      </dd>
    </dl>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li class="f-logo"><a href="#"><i></i></a></li>
      <li>
        <p><b>关于</b></p>
        <p><a href="#">关于我们</a></p>
        <p><a href="#">关于平台</a></p>
      </li>
      <li>
        <p><b>帮助</b></p>
        <p><a href="#">如何开始</a></p>
        <p><a href="#">视觉规范</a></p>
        <p><a href="#">FAQ</a></p>
        </p>
      </li>
      <li>
        <p><b>互动</b></p>
        <p><a href="#">意见反馈</a></p>
        <p><a href="#">我要投稿</a></p>
      </li>
      <li>
        <p><b>联系</b></p>
        <p>hi群：72353455 </p>
        <p>邮箱：freeue@baidu.com</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2013 QEC & QAUP 版权所有</div>
</div>
</body>
</html>
