<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>准时开饭</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<img src="../static/images/coming-soon.jpg" width="100%" alt=""/>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li>
        <p><b>联系我们</b></p>
        <p>电话：021-61425114</p>
        <p>地址：共和新路2449号1202室</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2015 上海敖慕信息科技有限公司 版权所有</div>
</div>
</body>
</html>
