<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>浅蓝色后台商务主题-模板库-FreeUE轻松创建更加美观、规范的Web页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.elastislide.js"></script>
</head>
<body>
<div class="header">
  <div class="inner">
    <div class="h-logo"> <a href="index.html" title="FreeUE">FreeUE</a> </div>
    <div class="h-account"><img src="images/head-default.jpg" alt="id"/> Hi，红雪！<a href="#">注销</a></div>
    <ul class="h-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="template.html" class="active">模板库</a></li>
      <li><a href="widget.html">元素库</a></li>
      <li><a href="begin.html">起步</a></li>
      <li><a href="about.html">关于</a></li>
    </ul>
  </div>
</div>
<div class="banner-detail" ></div>
<div class="clear"></div>
<div class="gray-box">
  <div class="inner">
    <div class="w720 fl">
      <dl class="main02 pt20">
        <dt>浅蓝色后台商务主题<span class="info">设计师：yangyukun　　　发布时间：2013-12-23</span> <a href="#" class="btn btn-large like-btn"><i class="icon16 icon16-like"></i> 喜欢 (10)</a> </dt>
        <dd>
          <div class="gallery-item">
            <div class="i-photo"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></div>
            <div id="carousel" class="i-thumb">
              <div class="es-carousel">
                <ul>
                  <li><a href="#" class="active"><img src="images/medium/1.jpg" alt="image01" /><span class="title">hello</span></a></li>
                  <li><a href="#"><img src="images/medium/2.jpg" alt="image02" /><span class="title">hello</span></a></li>
                  <li><a href="#"><img src="images/medium/3.jpg" alt="image03" /><span class="title">hello</span></a></li>
                  <li><a href="#"><img src="images/medium/4.jpg" alt="image04" /><span class="title">hello</span></a></li>
                  <li><a href="#"><img src="images/medium/5.jpg" alt="image05" /><span class="title">hello</span></a></li>
                </ul>
              </div>
              <script type="text/javascript">
			
			$('#carousel').elastislide({
				imageW 		: 200,
				margin		: 0,
				border		: 0,
				easing		: 'easeInBack'
			});
			
		</script> 
            </div>
          </div>
        </dd>
      </dl>
      <dl class="main03">
        <dt><i class="icon24 icon24-comment"></i> 评论 (15)<a href="#" class="more"><i class="icon16 icon16-edit"></i> 发表评论</a></dt>
        <dd>
          <ul class="comment-1column">
            <li>
              <p class="i-info"><b>张无忌</b> 发表于 2013-12-12</p>
              <p class="i-text">有效期多长？啥时候能卖啊（T+1）？</p>
            </li>
            <li>
              <p class="i-info"><b>张无忌</b> 发表于 2013-12-12</p>
              <p class="i-text">有效期多长？啥时候能卖啊（T+1）？</p>
            </li>
            <li>
              <p class="i-info"><b>张无忌</b> 发表于 2013-12-12</p>
              <p class="i-text">有效期多长？啥时候能卖啊（T+1）？有效期多长？啥时候能卖啊（T+1）？有效期多长？啥时候能卖啊（T+1）？有效期多长？啥时候能卖啊（T+1）？</p>
            </li>
            <li>
              <p class="i-info"><b>李晓明</b> 发表于 2013-12-12</p>
              <p class="i-text">12月内蒙古乌海消防虐兵视频，发生在中国军队的这桩丑闻，成为年末大陆网路的焦点和饭后的谈资。罕见披露的军内虐兵事件，撩动了人们愤怒而又好奇的神经，却遗憾地成为今年来中国军队形象的又一污点。类似这样的弊端，在中国军队内部一度不被人正视，甚至当做军队的优良传统来继承，而最后必须以“改革之刃”来消除它。幸运的是，有关军队体制编制大幅度的改革方案，中国军队正在酝酿中。</p>
            </li>
            <li>
              <p class="i-info"><b>PlayStation</b> 发表于 2013-12-12</p>
              <p class="i-text">有效期多有效期多长有效期多长有效期多长有效期多长长？啥时候能卖啊（T+1）？</p>
            </li>
          </ul>
          <div class="page-mini">
            <div class="list"> <span><</span><span class="active">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">></a> </div>
            <div class="clear"></div>
          </div>
          <div class="comment-item">
          <div class="i-textarea">
            <textarea></textarea>
            </div>
            <div class="i-btn">
            <input type="button"  class="btn  btn-large btn-blue" value="提交评论">
            </div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="w220 fr">
      <div class="download-item pt20"><a href="#" class="btn btn-blue btn-large btn-download"><i class="icon16-download-w icon16"></i>下载当前主题包(20)</a></div>
      <dl class="main04 pt30">
        <dt>主题信息</dt>
        <dd>
          <ul class="themeinfo-item">
            <li><b>标签：</b><a href="#">商务</a>，<a href="#">客户</a>，<a href="#">时尚</a></li>
            <li><b>颜色：</b><a href="#"><i class="iconcolor iconcolor-s1"></i></a> <a href="#"><i class="iconcolor iconcolor-s4"></i></a> <a href="#"><i class="iconcolor iconcolor-s8"></i></a></li>
            <li><b>说明：</b><br/>
              该主题适合某个类型的后台管理系统建设，元素比较齐全</li>
          </ul>
        </dd>
      </dl>
      <dl class="main04 pt20">
        <dt>推荐元素<a href="#" class="more"><i class="icon16 icon16-more"></i> 所有元素</a></dt>
        <dd>
          <ul class="widget-1column">
            <li>
              <div class="item-cont">
                <div class="i-photo"><a href="#"><img src="images/demo-600x300.jpg" width="900" height="600"  alt=""/></a></div>
                <div class="i-text"><a class="like"><i class="icon16 icon16-interest"></i> 15</a><a href="#">CMS首页</a></div>
              </div>
            </li>
            <li>
              <div class="item-cont">
                <div class="i-photo"><a href="#"><img src="images/demo-600x300.jpg" width="900" height="600"  alt=""/></a></div>
                <div class="i-text"><a class="like"><i class="icon16 icon16-interest"></i> 15</a><a href="#">CMS首页</a></div>
              </div>
            </li>
            <li>
              <div class="item-cont">
                <div class="i-photo"><a href="#"><img src="images/demo-600x300.jpg" width="900" height="600"  alt=""/></a></div>
                <div class="i-text"><a class="like"><i class="icon16 icon16-interested"></i> 15</a><a href="#">CMS首页</a></div>
              </div>
            </li>
            <li>
              <div class="item-cont">
                <div class="i-photo"><a href="#"><img src="images/demo-600x300.jpg" width="900" height="600"  alt=""/></a></div>
                <div class="i-text"><a class="like"><i class="icon16 icon16-interest"></i> 15</a><a href="#">CMS首页</a></div>
              </div>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li class="f-logo"><a href="#"><i></i></a></li>
      <li>
        <p><b>关于</b></p>
        <p><a href="#">关于我们</a></p>
        <p><a href="#">关于平台</a></p>
      </li>
      <li>
        <p><b>帮助</b></p>
        <p><a href="#">如何开始</a></p>
        <p><a href="#">视觉规范</a></p>
        <p><a href="#">FAQ</a></p>
        </p>
      </li>
      <li>
        <p><b>互动</b></p>
        <p><a href="#">意见反馈</a></p>
        <p><a href="#">我要投稿</a></p>
      </li>
      <li>
        <p><b>联系</b></p>
        <p>hi群：72353455 </p>
        <p>邮箱：freeue@baidu.com</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2013 QEC & QAUP 版权所有</div>
</div>
</body>
</html>
