<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>起步-FreeUE轻松创建更加美观、规范的Web页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
  <div class="inner">
    <div class="h-logo"> <a href="index.html" title="FreeUE">FreeUE</a> </div>
    <div class="h-account"><img src="images/head-default.jpg" alt="id"/> Hi，红雪！<a href="#">注销</a></div>
    <ul class="h-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="template.html">模板库</a></li>
      <li><a href="widget.html">元素库</a></li>
      <li><a href="begin.html" class="active">起步</a></li>
      <li><a href="about.html">关于</a></li>
    </ul>
  </div>
</div>
<div class="banner-begin" ><img src="images/banner-begin.png" width="990" height="250"  alt=""/> </div>
<div class="clear"></div>
<div class="gray-box">
  <div class="inner">
    <dl class="main05 pt10">
      <dt>起步</dt>
      <dd>
        <div class="begin-item pb30">
        	<ul>
            	<li><div class="i-icon"></div><div class="i-info"><b>选择你喜欢的模板</b><br/>
如果你喜欢我的设计，就为送我送上一颗心吧</div></li>
                <li><div class="i-icon"></div><div class="i-info"><b>一键下载模板代码</b><br/>
一键下载模板的全部设计代码，包括Html，CSS，JS，psd，images等</div></li>
                <li><div class="i-icon"></div><div class="i-info"><b>更多元素选择</b><br/>
若您需要的元素不在模板中，您可以进入同风格的元素库中下载所需元素代码，包括：Html，CSS，JS，image等。
为了保证您页面风格的友好统一，小编提醒您不要混搭不同风格的元素噢~</div></li>
                <li><div class="i-icon"></div><div class="i-info"><b>个性化设计需求</b><br/>
若您还有个性化的设计需求，欢迎您通过下方的“意见反馈”联系我们</div></li>
                <li><div class="i-iconn"></div><div class="i-info"><b>我要投稿</b><br/>
平台需要你我共同维护，若您有好的设计作品，欢迎通过下方的“我要投稿”为平台添砖加瓦，
还有可能获得精美礼品噢~</div></li>
 <li><div class="i-icon"></div><div class="i-info"><b>立即体验你的自主设计之旅吧！</b></div></li>
 <div class="clear"></div>
            </ul>
        </div>
        
        </dd>
    </dl>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li class="f-logo"><a href="#"><i></i></a></li>
      <li>
        <p><b>关于</b></p>
        <p><a href="#">关于我们</a></p>
        <p><a href="#">关于平台</a></p>
      </li>
      <li>
        <p><b>帮助</b></p>
        <p><a href="#">如何开始</a></p>
        <p><a href="#">视觉规范</a></p>
        <p><a href="#">FAQ</a></p>
        </p>
      </li>
      <li>
        <p><b>互动</b></p>
        <p><a href="#">意见反馈</a></p>
        <p><a href="#">我要投稿</a></p>
      </li>
      <li>
        <p><b>联系</b></p>
        <p>hi群：72353455 </p>
        <p>邮箱：freeue@baidu.com</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2013 QEC & QAUP 版权所有</div>
</div>
</body>
</html>
