<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>模板库-FreeUE-轻松创建更加美观、规范的Web页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
  <div class="inner">
    <div class="h-logo"><a href="index.html" title="FreeUE">FreeUE</a></div>
    <div class="h-account"><img src="images/head-default.jpg" alt="id"/> Hi，红雪！<a href="#">注销</a></div>
    <ul class="h-nav">
      <li><a href="index.html">首页</a></li>
      <li><a href="template.html" class="active">模板库</a></li>
      <li><a href="widget.html">元素库</a></li>
      <li><a href="begin.html">起步</a></li>
      <li><a href="about.html">关于</a></li>
    </ul>
  </div>
</div>
<div class="banner-template" ><img src="images/banner-template.png" width="990" height="250"  alt=""/></div>
<div class="gray-box">
  <div class="inner">
    <dl class="main01 pt10">
      <dt>所有模板 <span class="en">TEMPLATE</span>
        <div class="order-btn"><a href="#" class="active">最新发布</a><a href="#">最多喜欢</a></div>
        <div class="color-btn"><a href="#" class="s0 active">全部</a><a href="#" class="s1">红色</a><a href="#" class="s2">橙色</a><a href="#" class="s3">黄色</a><a href="#" class="s4">绿色</a><a href="#" class="s5">青色</a><a href="#" class="s6">蓝色</a><a href="#" class="s7">紫色</a><a href="#" class="s8">紫色</a></div>
      </dt>
      <dd>
        <ul class="template-4column">
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li>
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <li >
            <div class="item-cont">
              <div class="i-photo"><a href="template_detail.html"><img src="images/demo-900x600.jpg" width="900" height="600"  alt=""/></a></div>
              <div class="i-text"><a class="like"><i class="icon16 icon16-like"></i> 15</a><a href="#">CMS首页</a></div>
            </div>
            <div class="item-info">所属主题：<a href="#">绿色扫描系统</a></div>
          </li>
          <div class="clear"></div>
        </ul>
        <div class="page">
          <div class="list"> <span><</span><span class="active">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">></a> </div>
          <div class="clear"></div>
        </div>
      </dd>
    </dl>
  </div>
</div>
<div class="footer">
  <div class="inner">
    <ul class="f-link">
      <li class="f-logo"><a href="#"><i></i></a></li>
      <li>
        <p><b>关于</b></p>
        <p><a href="#">关于我们</a></p>
        <p><a href="#">关于平台</a></p>
      </li>
      <li>
        <p><b>帮助</b></p>
        <p><a href="#">如何开始</a></p>
        <p><a href="#">视觉规范</a></p>
        <p><a href="#">FAQ</a></p>
        </p>
      </li>
      <li>
        <p><b>互动</b></p>
        <p><a href="#">意见反馈</a></p>
        <p><a href="#">我要投稿</a></p>
      </li>
      <li>
        <p><b>联系</b></p>
        <p>hi群：72353455 </p>
        <p>邮箱：freeue@baidu.com</p>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="f-copyright">&copy;2013 QEC & QAUP 版权所有</div>
</div>
    <script>
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cdiv style='display:none;' %3E %3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa04bc642fb15cb6b591f8fe5423f1bc2' type='text/javascript'%3E%3C/script%3E"));
    </script>

</body>
</html>
