<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单确认</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<!--控制实现页面自适应脚本-->
            <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
	<header class="m-hd rel">
		<a href="index6.html" class="btn_prevpage imgbox">
			<img src="../static/images/img_23.png" />
		</a>
		<h3 class="tit">订单确认</h3>
	</header>
	<div class="m-orderlists rel cur bg2 box_shadow">
		<ul class="c_f">
			<li class="list frist_list rel bor_b_bold">
				<span class="icon imgbox">
	                 			<img src="../static/images/img_06_2.png">
	                 		</span>
				<a href="/delivery" class="btn_edit imgbox">
					<img src="../static/images/img_04.png" />
				</a>
				<span class="tit2">姓名</span>
				<span class="txt2">饭饭</span>
			</li>
			<li class="list">
				<span class="tit2">手机</span>
				<a class="txt2 gray_txt" href="#">13812345678</a>
			</li>
			<li class="list">
				<span class="tit2">送餐地址</span>
				<span class="txt2">莱赛港 A座 飞牛网总部</span>
			</li>
			<li class="list bor_b_none">
				<span class="tit2">取餐地点</span>
				<span class="txt2">一楼大堂</span>
			</li>
		</ul>
	</div>
	<div class="m-orderlists rel cur">
		<ul>
			<li class="list frist_list rel bor_b_bold">
				<span class="icon imgbox">
	                 			<img src="../static/images/img_05.png">
	                 		</span>
				<div class="agree_txt rel">
					<a href="javascript:void(0)" class="btn_agree on">
						<span></span>
					</a>
					<span class="tit font_big">订单1.</span>
					<span class="txt">星期四（12月25日）</span>
					<span class="f_r">午餐</span>
				</div>
			</li>
			<li class="list">
				<span class="tit">本帮鲍鱼</span>
				<span class="f_r">¥25<em class="grey_txt">X1</em></span>
			</li>
			<li class="list">
				<span class="tit">泰式冬阴功汤</span>
				<span class="f_r">¥35<em class="grey_txt">X2</em></span>
			</li>
			<li class="list">
				<span class="tit">清炒虾仁</span>
				<span class="f_r">¥25<em class="grey_txt">X1</em></span>
			</li>
			<li class="list bor_b_bold">
				<span class="tit">合计</span>
				<span class="f_r">¥120</span>
			</li>
			<li class="list">
				<span class="tit">餐盒费&nbsp<em class="red_txt">(免餐盒费)</em></span>
				<span class="f_r">¥0</span>
			</li>
			<li class="list">
				<span class="tit">共计<em class="red_txt">4</em>&nbsp份</span>
				<span class="f_r red_txt">¥125</span>
			</li>
			<li class="list bor_b_none">
				<span class="tit">期望到餐时间</span>
			</li>
			<li class="selecbox">
				<a href="javascript:void(0)" class="time_val rel" data-selecttime="">
					<span>请选择到餐时间</span>
					<i class="icon"></i>
				</a>
				<ul class="hide">
					<li>15:00～15:20</li>
					<li>15:20～15:40</li>
					<li>15:40～16:00</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr class="hr_gray">
	<div class="cut_line"></div>
	<div class="m-orderlists rel cur">
		<ul>
			<li class="list frist_list rel bor_b_bold">
				<span class="icon imgbox">
	                 			<img src="../static/images/img_05.png">
	                 		</span>
				<div class="agree_txt rel">
					<a href="javascript:void(0)" class="btn_agree on">
						<span></span>
					</a>
					<span class="tit font_big">订单1.</span>
					<span class="txt">星期四（12月25日）</span>
					<span class="f_r">午餐</span>
				</div>
			</li>
			<li class="list">
				<span class="tit">本帮鲍鱼</span>
				<span class="f_r">¥25<em class="grey_txt">X1</em></span>
			</li>
			<li class="list">
				<span class="tit">泰式冬阴功汤</span>
				<span class="f_r">¥35<em class="grey_txt">X2</em></span>
			</li>
			<li class="list">
				<span class="tit">清炒虾仁</span>
				<span class="f_r">¥25<em class="grey_txt">X1</em></span>
			</li>
			<li class="list bor_b_bold">
				<span class="tit">合计</span>
				<span class="f_r">¥120</span>
			</li>
			<li class="list">
				<span class="tit">餐盒费&nbsp<em class="red_txt">(免餐盒费)</em></span>
				<span class="f_r">¥0</span>
			</li>
			<li class="list">
				<span class="tit">共计<em class="red_txt">4</em>&nbsp份</span>
				<span class="f_r red_txt">¥125</span>
			</li>
			<li class="list bor_b_none">
				<span class="tit">期望到餐时间</span>
			</li>
			<li class="selecbox">
				<a href="javascript:void(0)" class="time_val rel" data-selecttime="">
					<span>请选择到餐时间</span>
					<i class="icon"></i>
				</a>
				<ul class="hide">
					<li>15:00～15:20</li>
					<li>15:20～15:40</li>
					<li>15:40～16:00</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr class="hr_gray">
	<div class="cut_line"></div>
	<div class=" p_b_2">
		<a href="javascript:void(0)" class="btn_red_wrap cur rel" data-getgray="" data-showmarkbox="txt1">
			确定下单
			<span class="txt2">¥255</span>
		</a>
	</div>
	<div class="mark_info hide z_index_200">
		<div class="con  white_bg" data-markbox="txt1">
			<div class="hd rel">
				<span>抱歉...</span>
				<a href="javascript:void(0)" class="btn_cancel imgbox" data-closemarkbox>
					<img src="../static/images/img_47.png">
				</a>
			</div>
			<div class="ins m_t_1">
				<p class="txt">当日10:30之后的订单，不可取消</p>
				<p class="txt">按“确定”继续下单</p>
				<a href="/receipt" class="btn_red_wrap w_p_80 rel" data-closemarkbox>
					确定
				</a>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="../static/js/main.js" ></script>
</html>