$def with (userinfo, shoppingbasket, menucalendar)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单确认</title>
    <meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
    <header class="m-hd rel">
        <a href="/menus" class="btn_prevpage imgbox"><img src="../static/images/img_23.png" /></a>
        <h3 class="tit">订单确认</h3>
    </header>
    <div class="m-orderlists rel cur bg2 box_shadow">
        <ul class="c_f">
            <li class="list frist_list rel bor_b_bold">
                <span class="icon imgbox"><img src="../static/images/img_06_2.png"></span>
                <a href="/delivery" class="btn_edit imgbox"><img src="../static/images/img_04.png" /></a>
                <span class="tit2">姓名</span>
                <span class="txt2">$userinfo["Contact"]</span>
            </li>
            <li class="list">
                <span class="tit2">手机</span>
                <a class="txt2 gray_txt" href="#">$userinfo["Tel"]</a>
            </li>
            <li class="list">
                <span class="tit2">送餐地址</span>
                <span class="txt2">$userinfo["OfficeAddr"]</span>
            </li>
            <li class="list bor_b_none">
                <span class="tit2">取餐地点</span>
                <span id="unitaddr" class="txt2">$userinfo["UnitAddr"]</span>
            </li>
        </ul>
    </div>
    $ i = 0
    $ amount_0 = 0.0
    $for d_0 in shoppingbasket:
        <div class="m-orderlists rel cur">
            <ul>
                <li class="list frist_list rel bor_b_bold">
                    <span class="icon imgbox"><img src="../static/images/img_05.png"></span>
                    <div class="agree_txt rel">
                        $ i = i + 1
                        <a href="javascript:void(0)" class="btn_agree on" oid="$i"><span></span></a>
                        <span class="tit font_big">订单$i.</span>
                        $ d = d_0.split('-')
                        $ t_d = d[1]+"月"+d[2]+"日"
                        <span class="txt"> $menucalendar[d_0]（$t_d）</span>
                        <span class="f_r">午餐</span>
                    </div>
                </li>
                $ amount_1 = 0.0
                $ cnt = 0
                $for d_1 in shoppingbasket[d_0]:
                    <li class="list">
                        <span class="tit">$shoppingbasket[d_0][d_1]["Name"]</span>
                        <span class="f_r">¥$shoppingbasket[d_0][d_1]["Price"]<em class="grey_txt">X$shoppingbasket[d_0][d_1]["Count"]</em></span>
                    </li>
                    $ amount_1 = amount_1 + float(shoppingbasket[d_0][d_1]["Price"])*int(shoppingbasket[d_0][d_1]["Count"])
                    $ cnt = cnt + int(shoppingbasket[d_0][d_1]["Count"])
                <li class="list bor_b_bold">
                    <span class="tit">合计</span>
                    <span class="f_r">¥$amount_1</span>
                </li>
                $ amount_0 = amount_0 + amount_1
                <li class="list">
                    <span class="tit">餐盒费&nbsp<em class="red_txt">(免餐盒费)</em></span>
                    <span class="f_r">¥0</span>
                </li>
                <li class="list">
                    <span class="tit">共计<em class="red_txt">$cnt</em>&nbsp份</span>
                    <span class="f_r red_txt">$amount_1</span>
                </li>
                <li class="list bor_b_none">
                    <span class="tit">期望到餐时间</span>
                </li>
                <li class="selecbox">
                    <a href="javascript:void(0)" class="time_val rel" data-selecttime=""><span oid="$i">12:00～12:20</span><i class="icon"></i> </a>
                    <ul class="hide">
                        <li>12:00～12:20</li>
                        <li>12:20～12:40</li>
                        <li>12:40～13:00</li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="hr_gray">
        <div class="cut_line"></div>
    <div class=" p_b_2">
        <a href="javascript:void(0)" class="btn_red_wrap cur rel" data-getgray="" data-showmarkbox="txt1">确定下单<span id="total_price" class="txt2">¥$amount_0</span></a>
    </div>
    <div class="mark_info hide z_index_200">
        <div class="con  white_bg" data-markbox="txt1">
            <div class="hd rel">
                <span>温馨提示</span>
                <a href="javascript:void(0)" class="btn_cancel imgbox" data-closemarkbox><img src="../static/images/img_47.png"></a>
            </div>
            <div class="ins m_t_1">
                <p id="tips0" class="txt">当日10:30之后的订单，不可取消</p>
                <p id="tips1" class="txt">按“确定”继续下单</p>
                <a href="javascript:void(0)" class="btn_red_wrap w_p_80 rel" data-closemarkbox>确定</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="../static/js/main.js" ></script>
<script type="text/javascript">
$$(".btn_agree").click(function(){
    if($$(this).hasClass("on")){
        price = parseFloat($$(this).parent().parent().parent().children("li").eq(-3).children("span").eq(1).html());
        total_price = parseFloat($$("#total_price").text().substr(1));
        total_price = total_price - price;
        //alert(total_price.toString());
        $$("#total_price").html("¥"+total_price.toString());        
                
    }
    else{
        price = parseFloat($$(this).parent().parent().parent().children("li").eq(-3).children("span").eq(1).html());
        total_price = parseFloat($$("#total_price").text().substr(1));
        total_price = total_price + price;
        $$("#total_price").html("¥"+total_price.toString());        
    }
});

$$(".btn_red_wrap").click(function(){
    
   if($$("#unitaddr").html()==""){
      //alert($$("#tips0").html());
      $$("#tips0").html("world");
      return;
   }   

   if ($$(this).hasClass("cur")){ 
    var dict = [];
    param=""
    $$(".time_val").each(function(){
         tm = $$(this).children("span").html();
         oid = $$(this).children("span").attr("oid");
         //alert(oid);
         if (tm == "12:00～12:20"){
             dict[oid] = 0;
         }
         else if(tm == "12:20～12:40"){
             dict[oid] = 1;
         }
         else if(tm == "12:40～13:00"){
             dict[oid] = 2;
         }
         else
         {
             dict[oid] = -1;
         }
    });
    $$(".agree_txt").each(function(){
        if($$(this).children("a").hasClass("on")){
            oid = $$(this).children("a").attr("oid");
            param += oid+"_"+dict[oid]+"|";
        }});
    //alert(param);
    location.href = "/defray?param="+param;
    }
  });
</script>
</html>
