$def with (userinfo)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>配送信息</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body class="bg2">
	<header class="m-hd rel">
		<div id="tips" class="tipbox" data-tips style="display: none;"><span></span></div>
		<a href="/bill" class="btn_prevpage imgbox"><img src="../static/images/img_23.png" /></a>
		<h3 class="tit">配送信息</h3>
	</header>
    <form method="post" action="delivery">
	<div class="m-orderlists rel cur">
		<ul>
			<li class="list frist_list rel bor_b_bold">
				<span class="icon imgbox"><img src="../static/images/img_06_2.png"></span>
				<span class="tit2 font_big">配送信息</span>
			</li>
			<li class="list list2">
				<span class="tit">姓名</span>
				<input name="contact" class="ipt2" type="text" placeholder="请输入联系人姓名"  value="$userinfo['Contact']"/>
			</li>
			<li class="list list2">
				<span class="tit">手机</span>
				<input name="telephone" class="ipt2" type="text" placeholder="请输入取餐人联系方式" value="$userinfo['Tel']"/>
			</li>
			<li class="list list2">
				<span class="tit">送餐地址</span>
				<p>$userinfo["OfficeAddr"]</p>
			</li>
			<li class="list list2">
				<span class="tit">取餐地址</span>
				<input name="unitaddress" class="ipt2" type="text" placeholder="请输入具体取餐地点，如1202室" value="$userinfo['UnitAddr']"/>
			</li>
			<li class="list list2">
				<span class="tit">发票抬头</span>
				<div class="btns_agree c_f">
					<span class="agree_txt rel f_l cur">
						<a href="javascript:void(0)" class="btn_agree on" data-agreeRadio id="btnNoNeed"><span></span></a>不需要
					</span>
					<span class="agree_txt rel f_r cur">
						<a href="javascript:void(0)" class="btn_agree" data-agreeRadio id="btnNeed"><span></span></a>需要
					</span>
				</div>
				<!--div class="btns_agree c_f hide">
					<span class="agree_txt rel f_l cur"><a href="javascript:void(0)" class="btn_agree" data-agreeRadio2><span></span></a>个人</span>
				</div-->
				<div class="btns_agree c_f hide">
					<!--span class="agree_txt rel f_l cur" style="float: inherit;"><a href="javascript:void(0)" class="btn_agree" data-agreeRadio2><span></span></a>公司</span>
					<span class="bortxt"></span-->
					<input name="invoice" class="ipt2" type="text" placeholder="请输入公司名称" value="$userinfo['Invoice']"/>
				</div>
			</li>
			<li class="list list2">
				<span class="tit">支付方式</span>
				<div class="btns_agree wx c_f">
					<span class="agree_txt rel f_l"><!--a href="javascript:void(0)" class="btn_agree on"><span></span></a-->微信支付</span>
				</div>
			</li>
		</ul>
	</div>
	<div class=" p_b_2">
		<!--a href="javascript:void(0)" class="btn_red_wrap no rel w_p_80" data-getgray="">保存</a-->
		<a href="javascript:void(0)" class="btn_red_wrap rel w_p_80">保存</a>
	</div>
    </form>
</body>
<script type="text/javascript">
$$(".btn_red_wrap").click(function(){
    if($$("input[name=telephone]").val()==""){
       $$("#tips").html("请填写电话号码");
       $$("#tips").show();
       $$("#tips").delay(1200).fadeOut(400);
       return;
    }
    else
    {
       var len = $$("input[name=telephone]").val().length;
       var value = $$("input[name=telephone]").val();
       var mobile = /^(1+\d{10})$$/;
       if(len != 11 || ! mobile.test(value))
       {
           //alert("请输入有效的手机号码");
          $$("#tips").html("请输入有效的手机号码");
	      $$("#tips").show();
	      $$("#tips").delay(1200).fadeOut(400);
	      return;
       }

        if($$("input[name=contact]").val()==""){
           $$("#tips").html("请填写联系人姓名");
           $$("#tips").show();
           $$("#tips").delay(1200).fadeOut(400);
           return;
        }
        else if($$("input[name=unitaddress]").val()==""){
           $$("#tips").html("请填写取餐地点");
           $$("#tips").show();
           $$("#tips").delay(1200).fadeOut(400);
           return;
        }
        else if($$("input[name=invoice]").val()==""){
           if($$("#btnNeed").hasClass("on")){
			   $$("#tips").html("请填写发票抬头");
			   $$("#tips").show();
			   $$("#tips").delay(1200).fadeOut(400);
			   return;
           }
        }
    }

    $$("form").submit();
});
</script>
</html>
