<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<!--控制实现页面自适应脚本-->
            <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
    <form method="post" action="login">
	<div class="m-loginbox">
		<h3 class="tit">使用手机账号登录</h3>
		<input id="userid" class="ipt" type="text" placeholder="请输入手机号" />
		<input id="password" class="ipt" type="text" placeholder="创建密码" />
		<a href="index5.html" class="m_t_cut f_r">忘记密码?</a>
		<div class="btn_p_b t_c">
            <input type="submit" class="btn_red_wrap" value="登录" />
			<a href="/register" class="btn_go rel">新用户注册</a>
		</div>
	</div>
	</form>
</body>
</html>