$def with (userinfo)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<!--控制实现页面自适应脚本-->
            <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
	<div class="person_box">
	        <div class="p_info c_f rel">
		           <div class="imgbox icon_tx">
		              	<img src="../static/images/img_18.png">
		           </div>
		           <a href="tel:13812345678"  class="dis t_c white_txt telnum" >$userinfo["ID"]</a>
		           <a href="javascript:void(0)" class="btn_login" data-showmarkbox="txt2">退出</a>
	        </div>
	</div>
	<div class="menusbox">
		<ul>
	                 <li class="list">
	                 		<span class="icon imgbox">
	                 			<img src="../static/images/img_06.png">
	                 		</span>
		                    <a href="/menus" class="txt arr_right rel">
			                      <span class="tit">我要订餐</span>
		                    </a>
	                 </li>
	                 <li class="list">
	                 		<span class="icon imgbox">
	                 			<img src="../static/images/img_05.png">
	                 		</span>
		                    <a href="/orders" class="txt arr_right rel">
			                      <span class="tit">我的订单</span>
		                    </a>
	                 </li>
	                 <li class="list last-child">
	                 		<span class="icon imgbox">
	                 			<img src="../static/images/img_34.png">
	                 		</span>
		                    <a href="#" class="txt arr_right rel">
			                      <span class="tit">我偏爱点餐</span>
		                    </a>
	                 </li>
	           </ul>
	</div>
	<hr class="hr_gray"/>
	<div class="cut_line"></div>
	<div class="menusbox">
		<ul>
			<li class="list"><span class="icon imgbox"><img src="../static/images/img_49.png"></span>
		                    <a class="txt" href="tel:021-61425114">
			                      <span class="tit">联系客服</span>
		                    </a>
	                 </li>
	           </ul>
	</div>
	<div class="mark_info hide">
		<div class="con  white_bg" data-markbox="txt2">
			<div class="hd rel">
				<span>确定要退出此账号吗？</span>
				<a href="javascript:void(0)" class="btn_cancel imgbox" data-closemarkbox>
					<img src="images/img_47.png">
				</a>
			</div>
			<div class="ins">
				<p class="txt oneline">请按“确定”退出</p>
				<a href="/logout" class="btn_red_wrap w_p_80 rel" data-closemarkbox>
					确定
				</a>
			</div>
		</div>
	</div>
</body>
</html>