$def with (menu_calendar, lunches, office, menu_date, lunches_info)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>准时开饭</title>
    <meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/swiper.min.css" />
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" ></script> 
    <!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
    <div class="hd_location">
        <div class="ins rel">
            <span class="icon_loaction imgbox"><img src="../static/images/img_02.png"/></span>
            <a href="/sites" class="txt_loaction white_txt">$office.Name</a>
            <a href="#" class="logo imgbox">
                <img src="../static/images/img_01.png" />
            </a>
        </div>
    </div>
    <div class="g-content">
        <!-- <section class="imgbox">
            <img src="images/img_10.png" />
        </section> -->
        <div class="swiper-container">
              <div class="swiper-wrapper">
                    <div class="swiper-slide blue-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
                    <div class="swiper-slide red-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
                    <div class="swiper-slide orange-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
              </div>
              <!-- 如果需要分页器 -->
              <div class="swiper-pagination my-pagination-point"></div>
        </div>
        <div class="screen_box c_f">
            <div class="selecbox f_l">
                <a href="javascript:void(0)" class="time_val rel" data-select >
                     $for k,v in menu_calendar.items():
                        $if k == menu_date:
                            <span>$v</span>
                    <i class="icon"></i>
                </a>
                <ul>
                    $for k,v in menu_calendar.items():
                        <!--li class="list prev"></li-->
                        <li class="list">$v</li>
                </ul>
            </div>
            <div class="selecbox f_r break">
                <a href="javascript:void(0)" class="time_val rel" data-select>
                    <span>美味午餐</span>
                    <i class="icon"></i>
                </a>
                <ul>
                    <li class="list">营养早餐</li>
                    <li class="list">美味午餐</li>
                    <li class="list">下午茶歇</li>
                    <li class="list">健康晚餐</li>
                </ul>
            </div>
        </div>
        <div class="cooksbox white_bg">
        $for lunch in lunches:
            <section class="item white_bg m_b_cut">
                <div class="imgbox cookimg rel">
                    <img src="../static/images/img_12.png" data-cookimg/>
                    <a href="javascript:void(0)" class="btn_store" data-store></a>
                    <div class="mark_info abs hide" data-markInfo>
                        <div class="ins white_txt">
                            <h3 class="tit">$lunch.Meal</h3>
                            <div class="txt">
                                <p><span>主菜</span>$lunch.entree</p>
                                <p><span>配菜</span>$lunch.garnish</p>
                                <p><span>主食</span>$lunch.staple</p>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="cook_info rel">
                    <input type=hidden name="pid" value="$lunch.ID"/>
                    <h2 class="tit">$lunch.Meal</h2>
                    <p class="txt">
                        <span>$lunch.Restaurant</span>
                        <span>30年本帮菜老字号</span>
                    </p>
                    <h2 class="price"><em>￥</em>$lunch.Price</h2>
                    <hr class="hr_gray"/>
                    <div class="num_wrap c_f">
                        <a href="javascript:void(0)" class="btn_minus" data-minus="">
                        </a>
                        $if lunches_info and lunches_info.haskey(lunch.ID):
                            <span class="count" data-count="">$(lunches_info[lunch.ID]["Count"])</span>
                        $else:
                            <span class="count" data-count="">0</span>
                        <a href="javascript:void(0)" class="btn_add" data-add="">
                        </a>
                    </div>
                </div>
            </section>
            <!--section class="item white_bg m_b_cut">
                <div class="imgbox cookimg rel">
                    <img src="../static/images/img_13.png" data-cookimg/>
                    <a href="javascript:void(0)" class="btn_store" data-store></a>
                    <div class="mark_info abs z_index_10 hide" data-markInfo>
                        <div class="ins white_txt">
                            <h3 class="tit">泰式冬阴功汤</h3>
                            <div class="txt">
                                <p><span>主菜</span>鲜虾，鱿鱼，青口贝</p>
                                <p><span>配菜</span>鲜蘑菇、柠檬叶、香茅、辣椒</p>
                                <p><span>主食</span>泰国香米</p>
                            </div>
                        </div>
                    </div>    
                </div>    
                <div class="cook_info rel">
                    <h2 class="tit">本帮黑鱼</h2>
                    <p class="txt">
                        <span>海金兹</span>
                        <span>30年本帮菜老字号</span>
                    </p>
                    <h2 class="price"><em>￥</em>25</h2>
                    <hr class="hr_gray"/>
                    <div class="num_wrap c_f">
                        <a href="javascript:void(0)" class="btn_minus" data-minus="">
                        </a>
                        <span class="count" data-count="">0</span>
                        <a href="javascript:void(0)" class="btn_add" data-add="">
                        </a>
                    </div>
                </div>
            </section-->
        </div>
    </div>
    <!--底部固定菜单-->
    <a class="foot_tabs tab_me" href="/anonymous">
        <img src="../static/images/img_18.png" />
    </a>
    <a class="foot_tabs tab_car rel">
        <img src="../static/images/img_15.png" />
        <i class="news_num">9</i>
    </a>
<script type="text/javascript">
$$(".tab_car").click(function(){
    param="";
    $$(".cook_info").each(function(){
      cnt = $$(this).find('.count').html();
      id = $$(this).children("input").val();
      if(cnt > 0)
      param = id+"="+cnt+"&"+param;
      });
    alert(param);
    windows.location.href = "/bill?"
  });

  var mySwiper = new Swiper('.swiper-container',{
        loop: true,
    autoplay: 3000,
    pagination: '.swiper-pagination',
    paginationClickable :true,
  });
    /*兼容pc & mobile滚动事件*/
    var hastouch = "ontouchstart" in window?true:false,
        tapstart = hastouch?"touchstart":"mousedown",
        tapmove  = hastouch?"touchmove":"mousemove",
        tapend   = hastouch?"touchend":"mouseup";
        var a = document.getElementById('a');
        var body = document.getElementsByTagName('body')[0];
        var xSlide = 0;
        var yBody = 0;
        /*body*/
        body.addEventListener(tapstart,tapdownBody);
        function tapdownBody(event){
            yBody = hastouch?event.targetTouches[0].pageY:event.pageY;
            body.addEventListener(tapmove,tapmoveBody);
            body.addEventListener(tapend,tapendBody);
        }

        var td = false;
        function tapmoveBody(event){
            event.preventDefault(); //阻止默认事件
            var y = hastouch?event.targetTouches[0].pageY:event.pageY;
            var _y = yBody - y;
            var _scroll = $$(window).scrollTop();
            $$('html,body').scrollTop(_scroll + _y);
             
    td = window.setTimeout(function(){ 
        $$(".foot_tabs").fadeOut(100,function(){
                   $$("this").hide();
        });        
    },50);

    //页面向下滚动“时间”和“餐别”菜单固定到头部，往回滚动恢复正常
    var screenBoxTop=$$(".screen_box").offset().top-$$(window).scrollTop();
    var cooksBoxTop=$$(".cooksbox").offset().top-$$(window).scrollTop();
    //console.log(screenBoxTop);
    if(screenBoxTop<0){
        $$(".screen_box").addClass("fixed");
    }else if(cooksBoxTop>46 && $$(".screen_box").hasClass("fixed")){
        $$(".screen_box").removeClass("fixed");
    }
          
        }
        function tapendBody(event){
            body.removeEventListener(tapmove,tapmoveBody);

    td = window.setTimeout(function(){             
                  $$(".foot_tabs").fadeIn(100,function(){
               console.info(2);
               $$("this").show();
                 
        });        
    },1900);

        }

</script>
</body>
</html>
