$def with (menu_calendar, lunches, office, menu_date, lunches_info, shopping_count)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>准时开饭</title>
    <meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/swiper.min.css" />
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js?v=1.0" ></script> 
    <!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body>
    <div class="hd_location">
        <div class="ins rel">
            <!--span class="icon_loaction imgbox"><img src="../static/images/img_02.png"/></span-->
            <a href="/sites" class="icon_loaction imgbox"><img src="../static/images/img_02.png"/></a>
            <a href="/sites" class="txt_loaction white_txt">$office.Name</a>
            <a href="#" class="logo imgbox"><img src="../static/images/img_01.png" /></a>
        </div>
    </div>
    <div class="g-content">
    <div id="tips" class="tipbox" data-tips style="display: none;"><span>购物车为空</span></div>
        <!-- <section class="imgbox">
            <img src="images/img_10.png" />
        </section> -->
        <div class="swiper-container">
              <div class="swiper-wrapper">
                    <div class="swiper-slide blue-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
                    <div class="swiper-slide red-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
                    <div class="swiper-slide orange-slide imgbox">
                        <img src="../static/images/img_10.png" />
                    </div>
              </div>
              <!-- 如果需要分页器 -->
              <div class="swiper-pagination my-pagination-point"></div>
        </div>
        <div class="screen_box c_f">
            <div class="selecbox f_l">
                <a href="javascript:void(0)" class="time_val rel" data-select >
                     $for tup in menu_calendar:
                        $if tup[0] == menu_date:
                            $ d = tup[0].split('-')
                            $ t_d = d[1]+"月"+d[2]+"日"
                            <span>$tup[1] ($t_d)</span>
                    <i class="icon"></i>
                </a>
                <ul>
                    $for tup in menu_calendar:
                        <!--li class="list prev"></li-->
                        $ d = tup[0].split('-')
                        $ t_d = d[1]+"月"+d[2]+"日"
                        <li class="list" menudate="$tup[0]" >$tup[1] ($t_d)</li>
                </ul>
            </div>
            <div class="selecbox f_r break">
                <a href="#" class="time_val rel" data-select><span>美味午餐</span></a>
                <!--a href="javascript:void(0)" class="time_val rel" data-select><span>美味午餐</span><i class="icon"></i></a>
                <ul>
                    <li class="list prev">营养早餐</li>
                    <li class="list">美味午餐</li>
                    <li class="list prev">下午茶歇</li>
                    <li class="list prev">健康晚餐</li>
                </ul-->
            </div>
        </div>
        <div class="cooksbox white_bg">
        $ total_cnt = shopping_count
        $ total_cost = 0.0
        $for lunch in lunches:
            <section class="item white_bg m_b_cut">
                <div class="imgbox cookimg rel">
                    <img src="../static/prod_img/$(lunch.ID).jpg" data-cookimg/>
                    <!--a href="javascript:void(0)" class="btn_store" data-store></a-->
                    <div class="mark_info abs hide" data-markInfo>
                        <div class="ins white_txt">
                            <h3 class="tit">$lunch.Meal</h3>
                            <div class="txt">
                                $if lunch.entree:
                                    <p><span>主菜:</span>$lunch.entree</p>
                                $if lunch.garnish:
                                    <p><span>配菜:</span>$lunch.garnish</p>
                                $if lunch.staple:
                                    <p><span>主食:</span>$lunch.staple</p>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="cook_info rel">
                    <input type=hidden name="pid" value="$lunch.ID"/>
                    <h2 class="tit">$lunch.Meal</h2>
                    <p class="txt">
                        <span>$lunch.Restaurant</span>
                        <span>$lunch.desc</span>
                    </p>
                    <h2 class="price"><em>￥</em>$lunch.Price</h2>
                    <hr class="hr_gray"/>
                    <div class="num_wrap c_f">
                    $if lunch.Stock > 0:
                            $if lunches_info and lunches_info.has_key(lunch.ID):
                                <a href="javascript:void(0)" class="btn_minus on" data-minus="" style="display: inline;"></a>
                                <span class="count" data-count="" style="display: inline;">$(lunches_info[lunch.ID]["Count"])</span>
                                <a href="javascript:void(0)" class="btn_add" data-add="" stock="$(lunch.Stock)"></a>
                                $ total_cost = float(lunch.Price) * int(lunches_info[lunch.ID]["Count"]) + float(total_cost)
                            $else:
                                <a href="javascript:void(0)" class="btn_minus" data-minus=""></a>
                                <span class="count" data-count="">0</span>
                                <a href="javascript:void(0)" class="btn_add" data-add="" stock="$(lunch.Stock)"></a>
                    $else:
                        <div class="txt"><span>已售罄</span></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--底部固定菜单-->
    <a class="foot_tabs tab_me" href="/member">
        <img src="../static/images/img_18.png" />
    </a>
    <a class="foot_tabs tab_car rel">
        <img src="../static/images/img_15.png" />
        <i class="news_num">$total_cnt</i>
    </a>
<script src="../static/js/touch-0.2.14.min.js"></script>
<script type="text/javascript">
$$(".tab_car").click(function(){
    param="";
    $$(".cook_info").each(function(){
      cnt = $$(this).find('.count').html();
      id = $$(this).children("input").val();
      if(cnt > 0){
          param = id+"_"+cnt+"|"+param;
      }
      });
    //alert(param);
    if(param!=""){
       location.href = "/bill?param="+param;
    }else{
       //alert("hello");
       $$("#tips").html("购物车为空");
       $$("#tips").show();
       $$("#tips").delay(600).fadeOut(400);
    }
  });

$$(".list").click(function(){
    if($$(this).hasClass("prev")){
       type = $$(this).html();
       $$("#tips").html(type+"已停止预定");
       $$("#tips").show();
       $$("#tips").delay(600).fadeOut(400);
    }
});

  var mySwiper = new Swiper('.swiper-container',{
    	loop: true,
	autoplay: 3000,
	pagination: '.swiper-pagination',
	paginationClickable :true,
  });

touch.on('body', 'touchmove', function(ev){
//touch.on('body', 'touchstart', function(ev){
    $$(".foot_tabs").fadeOut(0,function(){
	       $$("this").hide();
	});
});
touch.on('body', 'touchend', function(ev){
    
    window.setTimeout(function(){ 			
         $$(".foot_tabs").fadeIn(300,function(){
	       $$(this).show();
		});	
	},500);
    
    /*
    $$(".foot_tabs").fadeIn(1000,function(){
	       $$("this").show();
	});
    */
});

$$(window).scroll( function(event) { 
	var top = $$(document).scrollTop();

	//页面向下滚动“时间”和“餐别”菜单固定到头部，往回滚动恢复正常
	var screenBoxTop=$$(".screen_box").offset().top-$$(window).scrollTop();
	var cooksBoxTop=$$(".cooksbox").offset().top-$$(window).scrollTop();
	//console.log(screenBoxTop);
	if(screenBoxTop<0){
		$$(".screen_box").addClass("fixed");
	}else if(cooksBoxTop>46 && $$(".screen_box").hasClass("fixed")){
		$$(".screen_box").removeClass("fixed");
	}	
 });
</script>
</body>
</html>
