$def with (failreason)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>准时开饭</title>
    <meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/swiper.min.css" />
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" ></script>
    <!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body class="bg2 white_txt">
    <div class="tipbox" data-tips><span>下单失败！</span></div>
    <div class="m-order-txtbox p_b_2">
    $if failreason == "stock":
        <img src="../static/images/stock.png" />
        <p class="txt">很抱歉，你所预订的套餐库存不足</p>
        <p class="txt">您可尝试减少套餐数量或采用其他套餐，谢谢</p>
            <!--p><em>我的订单 - 进行中 - 取消订单</em></p>
            <p>超过时间将无法取消，敬请谅解！</p-->
    $elif failreason == "pay":
        <img src="../static/images/pay.png" />
        <p class="txt">很抱歉，你所预订的套餐支付失败</p>
        <p class="txt">您可前往“我的订单”继续支付行为</p>
    $elif failreason == "expired":
        <p class="txt">很抱歉，页面失效，本次结算出现异常</p>
        <p class="txt">您可前往首页继续订餐</p>
        <p class="txt">请勿在页面跳转时采用浏览器的返回，谢谢</p>
    <div class="m_t_1">
        <a href="/orders" class="btn_red_wrap" data-getgray>确定</a>
    </div>
    </div>
</body>
</html>
<script>
    $$(function () {
        //单选
        $$(".type_radio").click(function () {
            $$(".type_radio").removeClass("click");
            $$(this).addClass("click");
        })
    })
</script>
