$def with (info)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/swiper.min.css" />
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" ></script>
    <!--控制实现页面自适应脚本-->
    <script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body class="bg2 white_txt">
          <div class="swiper-wrapper">
                <div class="swiper-slide blue-slide">
                    <div class="m-order-detail">
                        <h3 class="tit">订单详情</h3>
                        $ total_price = 0.0
                        <div class="ins">
                            <ul>
                                <li class="list c_f">
                                    <span class="tit">姓名</span>
                                    <span class="txt">$info["i"].Contact</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">手机</span>
                                    <a class="txt" href="#">$info["i"].Tel</a>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">送餐地址</span>
                                    <span class="txt">$info["i"].OfficeName</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">取餐地点</span>
                                    <span class="txt">$info["i"].orderaddr</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">订餐日期</span>
                                    $ d = info["i"].OrderDate
                                    <span class="txt">$d</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">到餐时间</span>
                                    <span class="txt">12:00～12:20</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">发票</span>
                                    <span class="txt">$info["i"].invoice</span>
                                </li>
                                <li class="list c_f rel arr_down" data-detail>
                                    $if len(info["d"]) > 1:
                                        <span class="icon"></span>
                                        <span class="tit">订单内容</span>
                                        <span class="txt detail">$info["d"][0].Name $info["d"][0].Num 份</span>
                                            <ul class="detailbox hide">
                                            $for d in info["d"]:
                                                <li class="list3 c_f">
                                                    <span class="f_l">$d.Name $d.Num 份</span>
                                                    <!--span class="f_r">¥$d.Price</span-->
                                                </li>
                                                $ total_price = total_price + float(d.Price) * float(d.Num)
                                            </ul>
                                    $else:
                                        <span class="tit">订单内容</span>
                                        <span class="f_l">$info["d"][0].Name $info["d"][0].Num 份</span>
                                        $ total_price = float(info["d"][0].Price) * float(info["d"][0].Num)
                                </li>
                                <li class="list c_f">
                                    <span class="tit">订单总价</span>
                                    <span class="txt">¥$total_price</span>
                                </li>
                                <li class="list c_f">
                                    <span class="tit">订单状态</span>
                                    <span class="txt">订单已确认- 待配送</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
    <div class="m-order-txtbox p_b_2">
        <p class="txt">你的订单已被确认！</p>
        <!-- <p class="txt m_b_cut">我们将安排专人配送，为你准时开饭！</p> -->
        <p class="txt">如有变动，请于当日10:30 前操作</p>
        <p class="txt">超时订单将无法取消，敬请谅解！</p>
        <div class="m_t_1">
            <a href="/orders" class="btn_red_wrap" data-getgray>确定</a>
        </div>
    </div>
</body>
</html>
