$def with (shoppingbasket, userinfo)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<link rel="stylesheet" href="../static/css/swiper.min.css" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
	<script src="js/swiper.min.js"></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<!--控制实现页面自适应脚本-->
	<script type="text/javascript" src="../static/js/font_resize.js" ></script>
</head>
<body class="bg2 white_txt">
	<div class="tipbox" data-tips><span>下单成功！</span></div>
	<div class="swiper-container">
		  <div class="swiper-wrapper">
            $for d_0 in shoppingbasket:
			    <div class="swiper-slide blue-slide">
			    	<div class="m-order-detail">
			    		<h3 class="tit">1订单详情</h3>
			    		<div class="ins">
			    			<ul>
				    			<li class="list c_f">
				    				<span class="tit">姓名</span>
				    				<span class="txt">$userinfo['Contact']</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">手机</span>
				    				<a class="txt" href="#">$userinfo['Tel']</a>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">送餐地址</span>
				    				<span class="txt">$userinfo["OfficeAddr"]</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">取餐地点</span>
				    				<span class="txt">一楼大堂</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">到餐日期</span>
				    				<span class="txt">星期四（12月25日）</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">期望到餐时间</span>
				    				<span class="txt">12:00～12:20</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">发票</span>
				    				<span class="txt">康成投资（中国）有限公司</span>
				    			</li>
				    			<li class="list c_f rel arr_down" data-detail>
				    				<span class="icon"></span>
				    				<span class="tit">订单内容</span>
				    				<span class="txt detail">本帮爆鱼1份本帮爆鱼1份</span>
                                        <ul class="detailbox hide">
										$for d_1 in shoppingbasket[d_0]:
                                            <li class="list3 c_f">
                                                <span class="f_l">$shoppingbasket[d_0][d_1]["Name"] $shoppingbasket[d_0][d_1]["Count"]份</span>
                                                <span class="f_r">¥$shoppingbasket[d_0][d_1]["Price"]</span>
                                            </li>
                                        </ul>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单总价</span>
				    				<span class="txt">¥125</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单状态</span>
				    				<span class="txt">订单已确认- 待配送</span>
				    			</li>
				    		</ul>
			    		</div>
			    	</div>
			    </div>
			    <!--div class="swiper-slide red-slide">
			    	<div class="m-order-detail">
			    		<h3 class="tit">2订单详情</h3>
			    		<div class="ins">
			    			<ul>
				    			<li class="list c_f">
				    				<span class="tit">姓名</span>
				    				<span class="txt">饭饭</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">手机</span>
				    				<a class="txt" href="#">13812345678</a>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">送餐地址</span>
				    				<span class="txt">莱赛港 A座 飞牛网总部</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">取餐地点</span>
				    				<span class="txt">一楼大堂</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">到餐日期</span>
				    				<span class="txt">星期四（12月25日）</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">期望到餐时间</span>
				    				<span class="txt">12:00～12:20</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">发票</span>
				    				<span class="txt">康成投资（中国）有限公司</span>
				    			</li>
				    			<li class="list c_f rel arr_down" data-detail>
				    				<span class="icon"></span>
				    				<span class="tit">订单内容</span>
				    				<span class="txt detail">本帮爆鱼1份本帮爆鱼1份</span>
				    				<ul class="detailbox hide">
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    				</ul>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单总价</span>
				    				<span class="txt">¥125</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单状态</span>
				    				<span class="txt">订单已确认- 待配送</span>
				    			</li>
				    		</ul>
			    		</div>
			    	</div>
			    </div>
			    <div class="swiper-slide orange-slide">
			    	<div class="m-order-detail">
			    		<h3 class="tit">3订单详情</h3>
			    		<div class="ins">
			    			<ul>
				    			<li class="list c_f">
				    				<span class="tit">姓名</span>
				    				<span class="txt">饭饭</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">手机</span>
				    				<a class="txt" href="#">13812345678</a>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">送餐地址</span>
				    				<span class="txt">莱赛港 A座 飞牛网总部</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">取餐地点</span>
				    				<span class="txt">一楼大堂</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">到餐日期</span>
				    				<span class="txt">星期四（12月25日）</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">期望到餐时间</span>
				    				<span class="txt">12:00～12:20</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">发票</span>
				    				<span class="txt">康成投资（中国）有限公司</span>
				    			</li>
				    			<li class="list c_f rel arr_down" data-detail>
				    				<span class="icon"></span>
				    				<span class="tit">订单内容</span>
				    				<span class="txt detail">本帮爆鱼1份本帮爆鱼1份</span>
				    				<ul class="detailbox hide">
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    					<li class="list3 c_f">
				    						<span class="f_l">本帮爆鱼1份</span>
				    						<span class="f_r">¥25</span>
				    					</li>
				    				</ul>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单总价</span>
				    				<span class="txt">¥125</span>
				    			</li>
				    			<li class="list c_f">
				    				<span class="tit">订单状态</span>
				    				<span class="txt">订单已确认- 待配送</span>
				    			</li>
				    		</ul>
			    		</div>
			    	</div>
			    </div>
		  </div-->
		  <!-- 如果需要分页器 -->
		  <div class="swiper-pagination my-pagination-point"></div>
	</div>
	<div class="m-order-txtbox p_b_2">
		<p class="txt">你的订单已被确认！</p>
		<!-- <p class="txt m_b_cut">我们将安排专人配送，为你准时开饭！</p> -->
		<p class="txt">如有变动，请于当日10:30 前操作</p>
		<p class="txt">超时订单将无法取消，敬请谅解！</p>
		<div class="m_t_1">
			<a href="javascript:void(0)" class="btn_red_wrap" data-getgray>
				确定
			</a>
		</div>
	</div>
<script type="text/javascript">
  var mySwiper = new Swiper('.swiper-container',{
    	loop: true,
	/*autoplay: 3000,*/
	pagination: '.swiper-pagination',
	paginationClickable :true,
  });
</script>
</body>
</html>