<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<meta name="viewport"content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
	<link rel="stylesheet" href="../static/css/common.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<!--控制实现页面自适应脚本-->
	<script type="text/javascript" src="js/font_resize.js" ></script>
</head>
<body>
	<div class="m-loginbox">
		<h3 class="tit">注册成为新用户</h3>
		<input class="ipt" type="text" placeholder="请输入手机号" />
		<input class="ipt" type="text" placeholder="创建密码" />
		<a href="javascript:void(0)" class="btn_red_wrap rel" data-getgray>
			获取验证码
			<span class="seconds">60s</span>
		</a>
		<input class="ipt" type="text" placeholder="请输入6位验证码" />
		<div class="agree_txt rel">
			<a href="javascript:void(0)" class="btn_agree">
				<span></span>
			</a>
			我已阅读并同意《用户注册协议》
		</div>
		<div class="btn_p_b t_c">
			<a href="index4.html" class="btn_red_wrap">注册并登录</a>
			<a href="index4.html" class="btn_go rel">使用已有账号登录</a>
		</div>
	</div>
	<div class="mark_info hide">
		<div class="con">
			<div class="hd rel">
				<span>抱歉...</span>
				<a href="javascript:void(0)" class="btn_cancel imgbox">
					<img src="../static/images/img_47.png">
				</a>
			</div>
			<div class="ins">
				<p class="txt oneline">验证码输入错误，请核对后重新输入</p>
				<a href="javascript:void(0)" class="btn_red_wrap rel" data-getgray>
					确定
				</a>
			</div>
		</div>
	</div>
</body>
</html>