$def with (signature,nonceStr,timestamp,pay_data)
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>准时开饭</title>
    <link href="../static/css/default.css" rel="stylesheet" />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=Q6SBZ-TQVRS-GOTON-62XCI-NYAME-5TBZS&libraries=drawing,geometry,autocomplete,convertor"></script>
    <script>
        /*
         * 注意：
         * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
         * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
         * 3. 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
         *
         * 如有问题请通过以下渠道反馈：
         * 邮箱地址：weixin-open@qq.com
         * 邮件主题：【微信JS-SDK反馈】具体问题
         * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
         */
        wx.config({
          debug: false,
          appId: 'wx9e8d00301079061b',
          timestamp: '$timestamp',
          nonceStr:  '$nonceStr',
          signature: '$signature',
          jsApiList: [
              'chooseWXPay'
          ]
        });

        wx.ready(function () {
             wx.chooseWXPay({
              timestamp: '$pay_data["timeStamp"]', // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
              nonceStr: '$pay_data["nonceStr"]', // 支付签名随机串，不长于 32 位
              package: '$pay_data["package"]', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
              signType: '$pay_data["signType"]', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
              paySign: '$pay_data["paySign"]', // 支付签名
              success: function (res) {
                    // 支付成功后的回调函数
                  self.location='receipt'
               },
              cancel: function(res) {
                  //alert("cancel");
                  self.location='carte_failed'                 
              }
          });
        });
    </script>
</head>
<body>
<div class="wrapper">
<div class="top">    
</div>    
<p class="site_font">付款中,请稍后......</p>
<img class="bottom_img" src="../static/img/bottom.png" />
</div>
</body>
</html>